* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ysabeau SC', sans-serif;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
section {
  padding: 30px;
}
.title {
  margin-bottom: 40px;
}
.title span {
  display: inline-block;
  width: 100px;
  height: 5px;
  background: #56a746;
}
.title h1 {
  font-size: 40px;
  margin-bottom: -10px;
}
.button {
  font-family: 'Ysabeau SC', sans-serif;
  padding: 5px 15px;
  background: white;
  border: 1px solid grey;
  font-size: 15px;
  cursor: pointer;
}





.header {
  background: url(./assets/bg.jpg) fixed no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}
.header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: #0000004f;
}
.header nav ul {
  width: 50%;
  display: flex;
  justify-content: end;
}
.header nav ul li {
  margin: 0 20px;
}
.header img {
  width: 50px;
}
.header .slogan {
  width: 100%;
  height: 89%;
  background: #0000004f;
  position: relative;
}
.slogan div {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 35px;
  width: 50%;
}
.slogan span {
  font-weight: bold;
  font-size: 40px;
}
.header a {
  color: white;
}





.bestsellers .container, .plants .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 100px;
}
.bestsellers figure , .plants figure {
  width: 30%; 
  height: 450px;
  position: relative;
  margin: 20px;
}
.bestsellers figure:nth-child(1) , 
.bestsellers figure:nth-child(4),
.plants figure:nth-child(1) , 
.plants figure:nth-child(4) ,
.plants figure:nth-child(5)  {
  flex-grow: 1;
}
.bestsellers figcaption , .plants figcaption , .results figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #ffffffc9;
  width: 100%;
}
.bestsellers figcaption h2 , .plants figcaption h2 , .results figcaption h2 {
  font-size: 18px;
}
.bestsellers figcaption p , .plants figcaption p , .results figcaption p {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.plants, .bestsellers {
  background: #daf1c3;
  position: relative;
  padding-bottom: 50px;
}
.plants .button {
  position: absolute;
  right: 150px;
  bottom: 20px;
}






.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.advantages ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.advantages ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages img {
  width: 60px;
  height: 50px;
}
.advantages p {
  margin-top: 10px;
  font-weight: bold;
}





.header-page {
  background: url(./assets/bg-header.jpg) fixed no-repeat;
  background-size: cover;
  background-position: bottom 50px right 50%;
  height: 200px;
  position: relative;
}
.header-page h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  color: white;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}





.filter-plants {
  display: flex;
  align-items: center;
  background: #daf1c3;
  padding: 20px;
}
.filter-plants ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}
.filter-plants .button {
  font-weight: bold;
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.results figure {
  width: 20%;
  height: 350px;
  margin: 25px;
  position: relative;
  box-shadow: #80808031 5px 5px 15px;
}
.results figcaption {
  background-color: #daf1c3cb;
}