@keyframes scroll {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}  
}
@keyframes appear-ball {
  0% {
    top: -80%;
    right: -1200px;
  }
  50% {
    top: 60%;
    right: 1400px;
  }
  100% {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%); 
  }
}
@keyframes appear-plant {
  0% {
    right: -600px;
  }
  50% {
    right: 200px;
  }
  100% {
    right: 0;
  }
}
@keyframes wiggle-title {
  0% {
    right: -150px;
  }
  50% {
    right: 50px;
  }
  100% {
    right: 0;
  }
}





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
section {
  padding: 30px;
}
.title {
  margin-bottom: 40px;
  position: relative;
}
.title span {
  display: inline-block;
  width: 250px;
  height: 10px;
  border-radius: 5px;
  margin-left: -100px;
  z-index: 1;
  background: linear-gradient(to left, yellow,  orange);
}
.title h1 {
  font-size: 40px;
  margin-bottom: -5px;
  position: inherit;
  z-index: 2;
}
.button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  background: linear-gradient(yellow, orange);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background: white;
  border-top: yellow solid 2px;
  border-left: yellow solid 2px;
  border-bottom: solid 2px orange;
  border-right: solid 2px orange;
}
.button2 {
  font-family: 'Open Sans', sans-serif;
  padding: 1px 8px;
  border: none;
  background: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.button2:hover {
  background: linear-gradient(yellow, orange);
}
@media screen and (max-width: 800px) {
  .title h1 {
    font-size: 35px;
  }
  .title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 25px;
  }
}





nav {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
}
nav .logo {
  display: flex;
  align-items: center;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
nav .logo img {
  width: 40px;
}
nav .menu {
  display : flex;
  align-items: center;
}
nav .menu li {
  font-weight: bold;
  margin: 0 20px;
  font-size: 18px;
}
nav .menu .icon {
  width: 35px;
  height: 35px;
  background: white; 
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px ;
  transition: 0.5s;
}
nav .menu .icon:hover {
  cursor: pointer;
  background: linear-gradient(yellow, orange);
}

.dark-bg {
  background-color: #000000a8;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 98;
  top: 0;
  left: 0;
}
.dark-bg-none {
  display: none;
}
nav .menu2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 99;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
nav .menu2 a {
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 10px;
}
nav .menu2 img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1180px) {
  nav .menu {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  nav .menu {
    font-size: 15px;
  }
  nav .logo {
    font-size: 20px;
  }
  nav .icons img {
    width: 20px;
  }
  nav .open-burger {
    padding: 2px 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  nav .menu {
    font-size: 15px;
  }
  nav .logo {
    font-size: 18px;
  }
  nav .icons img {
    width: 18px;
  }
  nav .open-burger {
    padding: 2px 5px;
    font-size: 13px;
  }
}





.header {
  background: #ffeab0;
  height: 100vh;
  position: relative;
}
.header-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .txt {
  width: 45%; 
  margin-right: 80px;
}
.header .txt .title {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  animation: wiggle-title 1.5s ease-in-out;
}
.header .txt .p {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 30px;
  width: 70%;
  position: relative;
  animation: wiggle-title 1.5s ease-in-out;
  animation-delay: 300ms;
}
.header .txt .button {
  position: relative;
  animation: wiggle-title 1.5s ease-in-out;
  animation-delay: 500ms;
}
.header .imgs{
  width: 30%;
  position: relative; 
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.header .imgs .plant { 
  width: 100%;  
  display: flex;
  justify-content: center;  
  position: inherit;
  z-index: 2;
  animation: appear-plant 1.7s ease-in-out;
}

.header .imgs span {
  position: absolute;
  background: linear-gradient(yellow 10%, orange 90%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  animation: appear-ball 1.5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
}
@media (max-width: 1080px) {
  .header .content {
    padding-top: 50px;
  }
  .header .txt .title {
    font-size: 45px;
  }
  .header .imgs .plant { 
    width: 90%;  
  }
  .header .imgs span {
    position: absolute;
    background: linear-gradient(yellow 10%, orange 90%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    animation: appear-ball 1.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
  }
}

@media (max-width: 800px) {
  .header {
    height: 500px;
  }
  .header .txt {
    width: 100%;
    padding: 40px;
    margin-right: 0;
    position: relative;
    z-index: 6;
  }
  .header .txt .p {
    width: 100%;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 40px;
  }
  .header .txt .title {
    font-size: 50px;
  }
  .header .imgs{
    display: none;
  }
  
}
@media (max-width: 550px) {
  .header {
    height: 450px;
  }
  .header .content {
    padding-top: 50px;
  }
  .header .txt {
    padding:0;
    padding-left: 40px;
    
  }
  .header .txt .title {
    font-size: 40px;
  }
  .header .txt .p {
    width: 100%;
    margin-bottom: 30px;
  }
  .header .button {
    font-size: 14px;
  }
}







.bestsellers .container, .plants .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 100px;
}
.bestsellers a , .plants a {
  width: 30%; 
  height: 450px;
  position: relative;
  margin: 20px;
}
.bestsellers a:nth-child(1) , 
.bestsellers a:nth-child(4),
.plants a:nth-child(1) , 
.plants a:nth-child(4) ,
.plants a:nth-child(5)  {
  flex-grow: 1;
}
.bestsellers figure , .plants figure {
  width: 100%;
  height: 100%;
}
.bestsellers figcaption , .plants figcaption , .results figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #0000007e;
  width: 100%;
  color: white;
  letter-spacing: 2px;
}
.bestsellers figcaption h2 , .plants figcaption h2 , .results figcaption h2 {
  font-size: 18px;
}
.bestsellers figcaption p , .plants figcaption p , .results figcaption p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.plants, .bestsellers {
  background: white;
  position: relative;
  padding-bottom: 50px;
}
.plants .link {
  position: absolute;
  right: 150px;
  bottom: 20px;
  width: initial; 
  height: initial;
  font-size: 13px;
  padding: 5px 10px;
}
@media screen and (max-width: 968px) {
  .bestsellers .container, .plants .container {
    margin: 20px 0;
  }
  .bestsellers a , .plants a { 
    height: 350px;
    margin: 20px;
  }
}
@media screen and (max-width: 650px) {
  section {
    padding: 10px;
  }
  .bestsellers .container, .plants .container {
    margin: 20px 0;
  }
  .bestsellers a , .plants a { 
    height: 300px;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .bestsellers a , .plants a { 
    height: 300px;
    width: 100%;
  }
  section {
    padding: 20px;
  }
}






.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background: linear-gradient(orange, yellow);
}
.advantages ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.advantages ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages img {
  width: 60px;
  height: 50px;
}
.advantages p {
  margin-top: 15px;
  font-weight: bold;
}
@media screen and (max-width: 968px) {
  .advantages ul {
    width : 100%;
    margin: 0 40px;
  }
  .advantages p {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .advantages ul {
    flex-direction: column;
  }
  .advantages ul li {
    margin: 40px 0;
  }
  .advantages img {
    width: 80px;
    height: 80px;
  }
  .advantages p {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .advantages img {
    width: 50px;
    height: 50px;
  }
  .advantages p {
    font-size: 16px;
  }
}







.header-page {
  background: url(./assets/bg-header.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
}
.header-page h1 {
  color: white;
  font-size: 50px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000006c;
}
@media screen and (max-width: 700px) {
  .header-page h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 550px) {
  .header-page  {
    height: 150px;
  }
  .header-page h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .header-page h1 {
    font-size: 25px;
  }
}






.filter-plants {
  display: flex;
  align-items: center;
  background: white;
  border-bottom: solid 1px #80808046;
  padding: 20px;
}
.filter-plants ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.filter-plants .button ,.filter-plants select {
  font-size: 14px;
  margin: 0 20px;
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.results a {
  width: 20%;
  height: 350px;
  margin: 25px;
  position: relative;
  box-shadow: #80808031 5px 5px 15px;
}
.results figure {
  width: 100%;
  height: 100%;
}
.results figcaption div , .bestsellers figcaption div , .plants figcaption div  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results figcaption div:nth-child(2) , .bestsellers figcaption div:nth-child(2) , .plants figcaption div:nth-child(2){
  justify-content: initial;
}
.results figcaption div:nth-child(2) p:nth-child(1), .bestsellers figcaption div:nth-child(2) p:nth-child(1) , .plants figcaption div:nth-child(2) p:nth-child(1){
  font-weight: normal;
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 17px;
}
.results figcaption div:nth-child(2) p:nth-child(2), .bestsellers figcaption div:nth-child(2) p:nth-child(2) , .plants figcaption div:nth-child(2) p:nth-child(2){
  color: yellow;
}
.results button img , .bestsellers button img  , .plants button img {
  width: 35px;
  background: white;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 1050px) {
  .filter-plants {
    padding-bottom: 0;
  }
  .filter-plants ul {
    flex-wrap: wrap;
  }
  .filter-plants h2 {
    display: none;
  }
  .filter-plants .button ,.filter-plants select {
    margin: 0 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1060px) {
  .results a {
    width: 25%;
    height: 300px;
  }
}
@media screen and (max-width: 850px) {
  .results a {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .results a {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 560px) {
  .filter-plants ul li {
    width: 70%;
  }
  .filter-plants .button ,.filter-plants select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .filter-plants ul li {
    width: 100%;
  }
  .filter-plants .button ,.filter-plants select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}






.product-page {
  border-top: 1px solid #80808044 ;
}
.product {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.product img {
  width: 45%;
}
.product .infos {
  width: 52%;
  padding-right: 40px;
}
.product .head {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #80808044;
  margin-bottom: 30px;
  padding: 10px;
}
.product .head h1 {
  font-size: 30px;
}
.product .head ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.product .head ul li:nth-child(1) {
  text-decoration: line-through;
  margin-right: 10px;
}
.product .head ul li:nth-child(2) {
  padding: 2px 5px;
}
.product .description {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 25px;
}
.product .btn-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .btn-cart input {
  height: 30px;
  width: 50px;
  padding-left: 10px;
  margin-left: 10px;
}
.product .garantees {
  margin: 20px 0;
}
.product .garantees li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.product .garantees img {
  width: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  .product img {
    width: 80%;
    height: 500px;
  }
  .product .infos {
    width: 80%;
    padding-right: 0;
  }
  .product .garantees img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 700px) {
  .product img {
    width: 100%;
    height: 350px;
  }
  .product .infos {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .product {
    padding: 20px;
  }
  .product img {
    height: 300px;
  }
  .product .button {
    width: 60%;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 450px) {
  .product .head {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .product .head h1 {
    font-size: 25px;
  }
  .product .head ul li {
    margin-top: 10px;
  }
  .product .head ul li:nth-child(1) {
    font-size: 18px;
  }
  .product .head ul li:nth-child(2) {
    font-size: 18px;
  }
  .product .btn-cart {
    flex-direction: column;
  }
  .product .button {
    width: 100%;
    margin-bottom: 20px;
  }
  .product .btn-cart input {
    height: 30px;
    width: 50px;
    padding-left: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .product img {
    height: 250px;
  }
}







footer {
  background: linear-gradient(orange, yellow);
  padding: 30px;
  padding-bottom: 10px;
  font-size: 13px;
}
footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 25px;
}
footer li {
  cursor: pointer;
}
footer li:hover {
  color: black;
  transition: 0.3s;
}
footer span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
footer img {
  width: 18px;
  margin-right: 10px;
}
footer .contact li , footer .reseaux li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
footer .contact li:nth-child(1) {
  line-height: 18px;
}
footer .reseaux li:nth-child(1) img {
  width: 25px;
}
footer .reseaux li:nth-child(2) img {
  width: 25px;
}
footer .reseaux li:nth-child(3) img {
  width: 20px;
  margin-left: 5px;
}
footer .reseaux li  {
  padding-bottom: 5px;
}
@media screen and (max-width: 800px) {
  footer div {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer div ul {
    width: 40%;
    margin: 30px;
  }
}
@media screen and (max-width: 600px) {
  footer div ul {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer div ul {
    width: 100%;
    margin: 10px;
  }
} 