@keyframes scroll {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}  
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Ysabeau SC', sans-serif;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
section {
  padding: 30px;
}
.title {
  margin-bottom: 40px;
}
.title span {
  display: inline-block;
  width: 100px;
  height: 5px;
  background: #558855;
}
.title h1 {
  font-size: 40px;
  margin-bottom: -10px;
}
.button {
  font-family: 'Open Sans', sans-serif;
  padding: 5px 15px;
  background: white;
  border: 1px solid grey;
  font-size: 15px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .title h1 {
    font-size: 35px;
  }
  .title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 25px;
  }
}





nav {
  padding: 0 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .logo {
  display: flex;
  align-items: center;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
nav .logo img {
  width: 40px;
}
nav .menu {
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Ysabeau SC", sans-serif;
}
nav .menu a {
  transition: 0.3s;
}
nav .menu a:hover {
  color: #558855;
}
nav .icons {
  display: flex;
}
nav .icons img {
  width: 25px;
  margin: 0 5px;
  cursor: pointer;
}
nav .icons li:nth-child(3)::after {
  content: "0";
  padding: 2px 6px;
  font-size: 13px;
  border-radius: 50%;
  background: #558855;
  color: white;
  position: absolute;
  top: 3px;
  right: 3px;
}
nav div {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 99;
  padding: 10px 20px;
  text-align: center;
}
nav div img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
nav div h2 {
  border-bottom: grey solid 1px;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 10px;
}
nav div p {
  margin-top: 30px;
  font-size: 15px;
}
nav form {
  text-align: initial;
  margin: 20px;
}
nav .account div {
  position: initial;
  width: 100%;
  height: initial;
  z-index: initial;
  padding: initial;
  text-align: initial;
  margin: 20px 0;
}
nav form input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  outline: none;
}
nav form .button {
  width: 100%;
  background: #558855;
  height: 40px;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}
nav .account a {
  font-size: 14px;
}
nav .account a:hover {
  color: #558855;
  transition: 0.3s;
}
.dark-bg {
  background-color: #000000a8;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 98;
  top: 0;
  left: 0;
}
.dark-bg-none {
  display: none;
}
nav .menu2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 99;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
nav .menu2 a {
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 10px;
}
nav .menu2 img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1180px) {
  nav .menu {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  nav .menu {
    font-size: 15px;
  }
  nav .logo {
    font-size: 20px;
  }
  nav .icons img {
    width: 20px;
  }
  nav .open-burger {
    padding: 2px 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  nav .menu {
    font-size: 15px;
  }
  nav .logo {
    font-size: 18px;
  }
  nav .icons img {
    width: 18px;
  }
  nav .open-burger {
    padding: 2px 5px;
    font-size: 13px;
  }
}





.header {
  background: url(./assets/header-bg.avif) no-repeat;
  background-size: cover 100% 100%;
  background-position: center 10px;
  height: 75vh;
}
.header .slogan {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}
.slogan div {
  font-size: 25px;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 50%;
  line-height: 40px;
  background: #558855ee;
  border-top-left-radius: 40px;
  box-shadow: #363636 -10px 5px 20px;
}
.slogan span {
  font-weight: bold;
  font-size: 35px;
  font-family: "Ysabeau SC", sans-serif;
}
.header a {
  color: white;
}
@media screen and (max-width: 900px) {
  .header {
    height: 50vh;
  }
  .slogan div {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .header {
    height: 40vh;
  }
  .slogan div {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
  }
  .slogan div span {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  .slogan div {
    width: 85%;
    font-size: 16px;
    line-height: 25px;
  }
  .slogan div span {
    font-size: 18px;
  }
}





.soldes {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  background-color: #558855;
}
.soldes p {
  animation: scroll 15s linear infinite;
  font-size: 18px;
  color: white;
  margin-right: 20px;
  white-space: nowrap;
}
.soldes p:hover {
  animation-play-state: paused;
}
@media screen and (max-width: 800px) {
  .soldes p {
    font-size: 15px;
  }
}







.bestsellers .container, .plants .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 100px;
}
.bestsellers a , .plants a {
  width: 30%; 
  height: 450px;
  position: relative;
  margin: 20px;
}
.bestsellers a:nth-child(1) , 
.bestsellers a:nth-child(4),
.plants a:nth-child(1) , 
.plants a:nth-child(4) ,
.plants a:nth-child(5)  {
  flex-grow: 1;
}
.bestsellers figure , .plants figure {
  width: 100%;
  height: 100%;
}
.bestsellers figcaption , .plants figcaption , .results figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #daf1c3cb;
  width: 100%;
}
.bestsellers figcaption h2 , .plants figcaption h2 , .results figcaption h2 {
  font-size: 18px;
}
.bestsellers figcaption p , .plants figcaption p , .results figcaption p {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.plants, .bestsellers {
  background: white;
  position: relative;
  padding-bottom: 50px;
}
.plants .link {
  position: absolute;
  right: 150px;
  bottom: 20px;
  width: initial; 
  height: initial;
}
.plants .link:hover {
  color: #558855;
  transition: 0.3s;
}
@media screen and (max-width: 968px) {
  .bestsellers .container, .plants .container {
    margin: 20px 0;
  }
  .bestsellers a , .plants a { 
    height: 350px;
    margin: 20px;
  }
}
@media screen and (max-width: 650px) {
  section {
    padding: 10px;
  }
  .bestsellers .container, .plants .container {
    margin: 20px 0;
  }
  .bestsellers a , .plants a { 
    height: 300px;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .bestsellers a , .plants a { 
    height: 300px;
    width: 100%;
  }
  section {
    padding: 20px;
  }
}






.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #558855;
}
.advantages ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.advantages ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages img {
  width: 60px;
  height: 50px;
}
.advantages p {
  margin-top: 15px;
  color: white;
}
@media screen and (max-width: 968px) {
  .advantages ul {
    width : 100%;
    margin: 0 40px;
  }
  .advantages p {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .advantages ul {
    flex-direction: column;
  }
  .advantages ul li {
    margin: 40px 0;
  }
  .advantages img {
    width: 80px;
    height: 80px;
  }
  .advantages p {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .advantages img {
    width: 50px;
    height: 50px;
  }
  .advantages p {
    font-size: 16px;
  }
}







.header-page {
  background: url(./assets/bg-header.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}
.header-page h1 {
  color: white;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000006c;
}
@media screen and (max-width: 700px) {
  .header-page h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 550px) {
  .header-page  {
    height: 150px;
  }
  .header-page h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .header-page h1 {
    font-size: 25px;
  }
}






.filter-plants {
  display: flex;
  align-items: center;
  background: white;
  border-bottom: solid 1px #80808046;
  padding: 20px;
}
.filter-plants ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.filter-plants .button ,.filter-plants select {
  border: none;
  font-weight: bold;
  color: #558855;
  border: #558855 solid 1px;
  border-radius: 20px;
  margin: 0 20px;
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.results a {
  width: 20%;
  height: 350px;
  margin: 25px;
  position: relative;
  box-shadow: #80808031 5px 5px 15px;
}
.results figure {
  width: 100%;
  height: 100%;
}
.results figcaption div , .bestsellers figcaption div , .plants figcaption div  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results figcaption div:nth-child(2) , .bestsellers figcaption div:nth-child(2) , .plants figcaption div:nth-child(2){
  justify-content: initial;
}
.results figcaption div:nth-child(2) p:nth-child(1), .bestsellers figcaption div:nth-child(2) p:nth-child(1) , .plants figcaption div:nth-child(2) p:nth-child(1){
  font-weight: normal;
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 17px;
}
.results figcaption div:nth-child(2) p:nth-child(2), .bestsellers figcaption div:nth-child(2) p:nth-child(2) , .plants figcaption div:nth-child(2) p:nth-child(2){
  color: #558855;
}
.results figcaption button , .bestsellers figcaption button , .plants figcaption button{
  background: none;
  border: none;
  cursor: pointer;
}
.results button img , .bestsellers button img  , .plants button img {
  width: 25px;
}
@media screen and (max-width: 1050px) {
  .filter-plants {
    padding-bottom: 0;
  }
  .filter-plants ul {
    flex-wrap: wrap;
  }
  .filter-plants h2 {
    display: none;
  }
  .filter-plants .button ,.filter-plants select {
    margin: 0 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1060px) {
  .results a {
    width: 25%;
    height: 300px;
  }
}
@media screen and (max-width: 850px) {
  .results a {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .results a {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 560px) {
  .filter-plants ul li {
    width: 70%;
  }
  .filter-plants .button ,.filter-plants select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .filter-plants ul li {
    width: 100%;
  }
  .filter-plants .button ,.filter-plants select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}






.product-page {
  border-top: 1px solid #80808044 ;
}
.product {
  display: flex;
  justify-content: space-between;
}
.product img {
  width: 45%;
}
.product .infos {
  width: 52%;
  padding-right: 40px;
}
.product .head {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #80808044;
  margin-bottom: 30px;
  padding: 10px;
}
.product .head h1 {
  font-size: 30px;
}
.product .head ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.product .head ul li:nth-child(1) {
  color: grey;
  text-decoration: line-through;
  margin-right: 10px;
}
.product .head ul li:nth-child(2) {
  color: #558855;
  font-weight: bold;
  border: solid 1px #558855;
  padding: 2px 5px;
}
.product .description {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 25px;
}
.product .btn-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .button {
  background: #558855;
  color: white;
  height: 40px;
  width: 50%;
  text-transform: uppercase;
}
.product .btn-cart input {
  height: 30px;
  width: 50px;
  padding-left: 10px;
  margin-left: 10px;
}
.product .garantees {
  margin: 20px 0;
}
.product .garantees li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.product .garantees img {
  width: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  .product img {
    width: 80%;
    height: 500px;
  }
  .product .infos {
    width: 80%;
    padding-right: 0;
  }
  .product .garantees img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 700px) {
  .product img {
    width: 100%;
    height: 350px;
  }
  .product .infos {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .product {
    padding: 20px;
  }
  .product img {
    height: 300px;
  }
  .product .button {
    width: 60%;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 450px) {
  .product .head {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .product .head h1 {
    font-size: 25px;
  }
  .product .head ul li {
    margin-top: 10px;
  }
  .product .head ul li:nth-child(1) {
    font-size: 18px;
  }
  .product .head ul li:nth-child(2) {
    font-size: 18px;
  }
  .product .btn-cart {
    flex-direction: column;
  }
  .product .button {
    width: 100%;
    margin-bottom: 20px;
  }
  .product .btn-cart input {
    height: 30px;
    width: 50px;
    padding-left: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .product img {
    height: 250px;
  }
}







footer {
  background-color: #558855;
  padding: 30px;
  color: white;
  padding-bottom: 10px;
  font-size: 15px;
}
footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  line-height: 25px;
}
footer li {
  cursor: pointer;
}
footer span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
footer img {
  width: 18px;
  margin-right: 10px;
}
footer .contact li , footer .reseaux li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
footer .contact li:nth-child(1) {
  line-height: 18px;
}
footer .reseaux li:nth-child(1) img {
  width: 30px;
}
footer .reseaux li:nth-child(2) img {
  width: 30px;
}
footer .reseaux li:nth-child(3) img {
  width: 22px;
  margin-left: 5px;
}
footer .reseaux li  {
  padding-bottom: 5px;
}
@media screen and (max-width: 800px) {
  footer div {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer div ul {
    width: 40%;
    margin: 30px;
  }
}
@media screen and (max-width: 600px) {
  footer div ul {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer div ul {
    width: 100%;
    margin: 10px;
  }
} 